# Aplicação
APP_ENV=development

# Nosso PostgreSQL
DATABASE_URL=

# Banco PostgreSQL do cliente - READ ONLY
CLIENT_DATABASE_URL=

# OpenAI
OPENAI_API_KEY=
OPENAI_EXTRACTION_MODEL=
OPENAI_MATCHING_MODEL=
OPENAI_EMBEDDING_MODEL=
